<div class="">
  <%= "#{@user.name} | #{@user.events.count}" %>
</div>

<br>
<strong>Events Created</strong>
<% if @created_events.any? %>
  <ul>
  <% @created_events.each do |event| %>
    <li><%= "#{event.name} | #{event.date}" %></li>
  <% end %>
  </ul>
<% else %>
  <i>No events created</i>
<% end %>

<strong>Events Joined</strong> <br>
<% if @attended_events.any? %>
  <strong>Future events</strong>
  <ul>
  <% @attended_events.future_events.each do |future_event| %>
    <li><%= "#{future_event.name} | #{future_event.date}" %></li>
  <% end %>
  </ul>
  <strong>Past events</strong>
  <ul>
  <% @attended_events.past_events.each do |past_event| %>
    <li><%= "#{past_event.name} | #{past_event.date}" %></li>
  <% end %>
  </ul>
<% else %>
  <i>No events attended</i>
<% end %>