<div class="columns">
  <div class="column is-three-quarters">
    <!-- public events here 
    Event name 
    Date
    Location
    Creator
    Kung ilan na yung sasali

    sort by date of occurence
    -->
    <div class="container">
      <%= render(@events) || "There are no public events" %>
    </div>
  </div>
  <div class="column">
    <article class="panel my-6 mr-3">
      <p class="panel-heading">Invitations</p>
        <% if user_signed_in? %>
          <% case current_user.invitations_received.any? %>
            <% when true %>
              <%= render(partial: 'invitations/invitation', collection: current_user.invitations_received) %> 
            <% else %>
              <p class='is-italic is-small panel-block'>No Invitations yet</p>
            <% end %>
        <% else %>
          <p class='is-italic is-small panel-block'>Log in to view invitations</p>
        <% end %>
    </article>
  </div>
</div>